.marginTop{
    margin-top: 10%;
}

.marginBot{
    margin-bottom: 5%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}


/* Typography */
body, ul, li, p, a, label, input, div {
    font-family: Futura, sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
}

.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
}

.h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
}

.mgt-16 {
    margin-top: 16px !important;
}

.mgd-16 {
    margin-bottom: 16px !important;
}

.f100 {
    width: 100% !important;
}

/* General */
.logo-size {
    width: 30px;
    height: 30px;
}

.logo {
    font-weight: 500 !important;
}

.text-warning {
    color: #ede861 !important;
}

.text-muted {
    color: #bcbcbc !important;
}

.text-success {
    color: #59ab6e !important;
}

.text-light {
    color: #cfd6e1 !important;
}

.bg-dark {
    background-color: #212934 !important;
}

.bg-light {
    background-color: #e9eef5 !important;
}

.bg-black {
    background-color: #1d242d !important;
}

.bg-success {
    background-color: #59ab6e !important;
}

.btn-success {
    background-color: #59ab6e !important;
    border-color: #56ae6c !important;
}

.pagination .page-link:hover {
    color: #000;
}

.pagination .page-link:hover, .pagination .page-link.active {
    background-color: #69bb7e;
    color: #fff;
}

/* Nav */
.navbar.nav-light {
    background: #fff !important;
}

.container-navbar {
    background: inherit;

}

.padding-notify {
    margin-right: auto !important;
    padding-left: 15px !important;
}

.padding-cart {
    margin-left: auto !important;
    margin-right: 0 !important;
    padding-right: 15px !important;
}

.navbar.header {
    height: 72px;
    color: whitesmoke;
}

#templatemo_nav_top {
    min-height: 40px;
}

#templatemo_nav_top * {
    font-size: .9em !important;
}

#templatemo_main_nav a {
    color: #212934;
}

#templatemo_main_nav a:hover {
    color: #000bff;
    background: #ccc;
}

#templatemo_main_nav .navbar .nav-icon {
    margin-right: 20px;
}

.bg-cart-light {
    background-color: #e9eef500 !important;
    color: #d4374dc9 !important;
}

/* Hero Carousel */
#template-mo-zay-hero-carousel {
    background: #efefef !important;
}

/* Accordion */
.templatemo-accordion a {
    color: #000;
}

.templatemo-accordion a:hover {
    color: #333d4a;
}

/* Shop */
.shop-top-menu a:hover {
    color: #69bb7e !important;
}

.img-config.card-img {
    float: left;
    width: 255px;
    height: 328px;
    object-fit: cover;
    margin: auto;
}

.text-config {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* Product */
.product-wap {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}

.product-wap .product-color-dot.color-dot-red {
    background: #f71515;
}

.product-wap .product-color-dot.color-dot-blue {
    background: #6db4fe;
}

.product-wap .product-color-dot.color-dot-black {
    background: #000000;
}

.product-wap .product-color-dot.color-dot-light {
    background: #e0e0e0;
}

.product-wap .product-color-dot.color-dot-green {
    background: #0bff7e;
}

.card.product-wap .card .product-overlay {
    background: rgba(0, 0, 0, .2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
}

.card.product-wap a {
    color: #000;
}

#carousel-related-product .slick-slide:focus {
    outline: none !important;
}

#carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
}

/* Brand */
.brand-img {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: .5s;
}

.brand-img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #59ab6e;
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #59ab6e !important;
    font-size: 2.8em !important;
}

/* Carousel Brand */
.tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
}

/* Services */
.services-icon-wap {
    transition: .3s;
}

.services-icon-wap:hover, .services-icon-wap:hover i {
    color: #fff;
}

.services-icon-wap:hover {
    background: #69bb7e;
}

/* Contact map */
.leaflet-control a, .leaflet-control {
    font-size: 10px !important;
}

.form-control {
    border: 1px solid #e8e8e8;
}

/* Footer */
#tempaltemo_footer a {
    color: #dcdde1;
}

#tempaltemo_footer a:hover {
    color: #68bb7d;
}

#tempaltemo_footer ul.footer-link-list li {
    padding-top: 10px;
}

#tempaltemo_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
}

#tempaltemo_footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
}

#tempaltemo_footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
}

#tempaltemo_footer .border-light {
    border-color: #2d343f !important;
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
    font-size: 12px !important;
}

.product-wap .product-color-dot {
    width: 6px;
    height: 6px;
}

@media (min-width: 576px) {
    .tempaltemo-carousel .h1 {
        font-size: 1em !important;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {
        max-width: 450px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {
        max-width: 550px;
    }

    #template-mo-zay-hero-carousel .carousel-item {
        min-height: 30rem !important;
    }

    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
        font-size: 18px !important;
    }

    .product-wap .product-color-dot {
        width: 12px;
        height: 12px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*CART*/
.shopping-cart,
.wishlist-table,
.order-table {
    margin-bottom: 20px
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
    margin-bottom: 0
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
    margin: 0
}

.shopping-cart>table>thead>tr>th,
.shopping-cart>table>thead>tr>td,
.shopping-cart>table>tbody>tr>th,
.shopping-cart>table>tbody>tr>td,
.wishlist-table>table>thead>tr>th,
.wishlist-table>table>thead>tr>td,
.wishlist-table>table>tbody>tr>th,
.wishlist-table>table>tbody>tr>td,
.order-table>table>thead>tr>th,
.order-table>table>thead>tr>td,
.order-table>table>tbody>tr>th,
.order-table>table>tbody>tr>td {
    vertical-align: middle !important
}

.shopping-cart>table thead th,
.wishlist-table>table thead th,
.order-table>table thead th {
    padding-top: 17px;
    padding-bottom: 17px;
    border-width: 1px
}

.shopping-cart .remove-from-cart,
.wishlist-table .remove-from-cart,
.order-table .remove-from-cart {
    display: inline-block;
    color: #ff5252;
    font-size: 18px;
    line-height: 1;
    text-decoration: none
}

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
    display: inline-block;
    width: 100%;
    width: 86px
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info,
.wishlist-table .product-item .product-thumb,
.wishlist-table .product-item .product-info,
.order-table .product-item .product-thumb,
.order-table .product-item .product-info {
    display: table-cell;
    vertical-align: top
}

.shopping-cart .product-item .product-thumb,
.wishlist-table .product-item .product-thumb,
.order-table .product-item .product-thumb {
    width: 130px;
    padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img,
.wishlist-table .product-item .product-thumb>img,
.order-table .product-item .product-thumb>img {
    display: block;
    width: 100%
}

@media screen and (max-width: 860px) {
    .shopping-cart .product-item .product-thumb,
    .wishlist-table .product-item .product-thumb,
    .order-table .product-item .product-thumb {
        display: none
    }
}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
    display: block;
    font-size: 13px
}

.shopping-cart .product-item .product-info span>em,
.wishlist-table .product-item .product-info span>em,
.order-table .product-item .product-info span>em {
    font-weight: 500;
    font-style: normal
}

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
    margin-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500
}

.shopping-cart .product-item .product-title>a,
.wishlist-table .product-item .product-title>a,
.order-table .product-item .product-title>a {
    transition: color .3s;
    color: #374250;
    line-height: 1.5;
    text-decoration: none
}

.shopping-cart .product-item .product-title>a:hover,
.wishlist-table .product-item .product-title>a:hover,
.order-table .product-item .product-title>a:hover {
    color: #0da9ef
}

.shopping-cart .product-item .product-title small,
.wishlist-table .product-item .product-title small,
.order-table .product-item .product-title small {
    display: inline;
    margin-left: 6px;
    font-weight: 500
}

.wishlist-table .product-item .product-thumb {
    display: table-cell !important
}

@media screen and (max-width: 576px) {
    .wishlist-table .product-item .product-thumb {
        display: none !important
    }
}

.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e1e7ec
}

.shopping-cart-footer>.column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle
}

.shopping-cart-footer>.column:last-child {
    text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
    margin-right: 0;
    margin-left: 15px
}

@media (max-width: 768px) {
    .shopping-cart-footer>.column {
        display: block;
        width: 100%
    }
    .shopping-cart-footer>.column:last-child {
        text-align: center
    }
    .shopping-cart-footer>.column .btn {
        width: 100%;
        margin: 12px 0 !important
    }
}
  